.parent-admin{
    display: grid;
    grid-template-columns: 0.7fr 5fr;
}

.parent-admin{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    margin-top: 6rem;
}

.child-admin{
    margin-left: 17rem;
}
